.SearchFilterContainer {
  height: 60px;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 202;
}

.SearchFilter {
  margin: 16px auto auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: var(--docsearch-modal-background);
  border-radius: 6px 6px 0 0;
  box-shadow: 0 var(--docsearch-modal-shadow);
  max-width: var(--docsearch-modal-width);
  padding: 8px;
}

.SearchOption {
  font-size: 16px;
  border: 1px solid;
  border-color: transparent;
  color: var(--ifm-font-color-base);
  border-radius: 4px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}
