.banner {
    position: fixed;
    top: 140px;
    left: 350px;
    height: 90px;
    width: 900px;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    z-index: 1000;
    border-radius: 10px;
    border-left: 5px solid darkorange;
    border-right: 5px solid darkorange;

}

/* Prevent content from being hidden behind the banner */
.banner + * {
    margin-top: 50px;
}

@media (max-width: 1600px) {
    .banner {
        width: 50%; /* Shrink to 90% of the page width */
        font-size: 21px; /* Make the font smaller */
    }
}

@media (max-width: 1200px) {
    .banner {
        width: 50%; /* Shrink to 90% of the page width */
        font-size: 18px; /* Make the font smaller */
    }
}

@media (max-width: 1000px) {
    .banner {
        width: 90%; /* Shrink to 90% of the page width */
        font-size: 17px; /* Make the font smaller */
        left: 10px;
    }
}
