/* src/components/TwoColumns.module.css */
.twoColumns {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.leftColumn {
  flex: 0 0 55%; /* 60% width */
}

.rightColumn {
  flex: 0 0 45%; /* 40% width */
  padding-left: 20px;
}
