openapi: 3.0.1
info:
  title: Testkube Pro API
  description: API for Testkube Pro
  contact:
    email: testkube@kubeshop.io
  license:
    name: COMMERICAL
    url: https://opensource.org/licenses/MIT
  version: enterprise-api/1.10.14
paths:
  /environments/invites/{inviteID}/accept:
    get:
      summary: Accept email invite
      description: accept email invite
      operationId: acceptEnvironmentEmailInvite
      responses:
        '201':
          $ref: './components.yaml#/components/responses/NoContent'
        '301':
          $ref: './components.yaml#/components/responses/InviteAcceptedRedirect'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/InviteID'
  /environments/invites/{inviteID}/resend:
    post:
      summary: Resend email invite for environment
      description: resend email invite
      operationId: resendEnvironmentEmailInvite
      responses:
        '201':
          $ref: './components.yaml#/components/responses/NoContent'
        '301':
          $ref: './components.yaml#/components/responses/InviteAcceptedRedirect'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/InviteID'
  /environments/invites/{inviteID}/revoke:
    post:
      summary: Revoke email invite for environment
      description: revoke pending email invite
      operationId: revokeEnvironmentEmailInvite
      responses:
        '201':
          $ref: './components.yaml#/components/responses/NoContent'
        '301':
          $ref: './components.yaml#/components/responses/InviteAcceptedRedirect'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/InviteID'
