openapi: 3.0.1
info:
  title: Testkube Pro API
  description: API for Testkube Pro
  contact:
    email: testkube@kubeshop.io
  license:
    name: COMMERICAL
    url: https://opensource.org/licenses/MIT
  version: 1.18.0-de.80
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /users/{id}/settings:
    get:
      summary: User settings, global for Testkube Pro or Enterprise
      description: Get API info like current version
      operationId: getUserSettings
      responses:
        '200':
          $ref: './components.yaml#/components/responses/Settings'
        '500':
          $ref: './components.yaml#/components/responses/InternalServerError'
    patch:
      summary: Update setting for given parameter
      description: Update setting for given user
      operationId: updateUserSettings
      requestBody:
        $ref: './components.yaml#/components/requestBodies/SettingUpsert'
      responses:
        '200':
          $ref: './components.yaml#/components/responses/Setting'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '405':
          $ref: './components.yaml#/components/responses/MethodNotAllowedError'
        '500':
          $ref: './components.yaml#/components/responses/InternalServerError'
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
  /users/preferences:
    post:
      summary: Create user preferences
      description: Create user preferences
      operationId: createUserPreferences
      requestBody:
        $ref: './components.yaml#/components/requestBodies/Preferences'
      responses:
        '201':
          $ref: './components.yaml#/components/responses/NoContent'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
