openapi: 3.0.1
info:
  title: Testkube Pro API
  description: API for Testkube Pro
  contact:
    email: testkube@kubeshop.io
  license:
    name: COMMERICAL
    url: https://opensource.org/licenses/MIT
  version: enterprise-api/1.10.14
paths:
  /organizations/{id}/environments/{environmentID}/executions:
    get:
      summary: Get recent executions
      description: Get recent executions
      operationId: listExecutions
      responses:
        '200':
          $ref: './components.yaml#/components/responses/ExecutionRefs'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/Kind'
      - $ref: './components.yaml#/components/parameters/Page'
      - $ref: './components.yaml#/components/parameters/PageSize'
  /organizations/{id}/environments/{environmentID}/executions/{executionID}/artifact-archive:
    get:
      summary: Get artifact archive
      description: Get artifact archive
      operationId: getArtifactArchive
      responses:
        '200':
          $ref: './components.yaml#/components/responses/ArtifactURL'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/ExecutionID'
      - $ref: './components.yaml#/components/parameters/OptionalTestName'
      - $ref: './components.yaml#/components/parameters/FilterTestsuiteName'
  /organizations/{id}/environments/{environmentID}/executions/{executionID}/artifacts/{artifactID}:
    get:
      summary: Get artifact
      description: Get artifact
      operationId: getArtifact
      responses:
        '200':
          $ref: './components.yaml#/components/responses/ArtifactURL'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/ExecutionID'
      - $ref: './components.yaml#/components/parameters/ArtifactID'
      - $ref: './components.yaml#/components/parameters/OptionalTestName'
      - $ref: './components.yaml#/components/parameters/FilterTestsuiteName'
  /organizations/{id}/environments/{environmentID}/executions/{executionID}/download-artifact/{artifactID}:
    get:
      summary: Download artifact
      description: Download artifact
      operationId: downloadArtifact
      responses:
        '307':
          description: Redirection to download artifact
          headers:
            Location:
              description: artifact presigned url
              schema:
                type: string
                format: uri
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
        '500':
          $ref: './components.yaml#/components/responses/InternalServerError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/ExecutionID'
      - $ref: './components.yaml#/components/parameters/ArtifactID'
  /organizations/{id}/environments/{environmentID}/executions/{executionID}/logs:
    get:
      summary: Get Testkube Pro logs for execution
      description: Get Logs separately from execution
      operationId: getExecutionLogs
      responses:
        '200':
          $ref: './components.yaml#/components/responses/Logs'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/ExecutionID'
      - name: from
        in: query
        description: line number from which logs should be returned
        required: true
        schema:
          type: integer
      - name: to
        in: query
        description: line number to which logs should be returned
        required: true
        schema:
          type: integer
  /organizations/{id}/environments/{environmentID}/executions/{executionID}/metadata:
    get:
      summary: Get Testkube Pro metadata for execution
      description: OpenAI analysis websockets stream
      operationId: getExecutionMetadata
      responses:
        '200':
          $ref: './components.yaml#/components/responses/ExecutionMetadata'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/ExecutionID'
  /organizations/{id}/environments/{environmentID}/executions/{executionID}/serve-artifact/{artifactID}:
    get:
      summary: Serve artifact
      description: Serve artifact
      operationId: serveArtifact
      responses:
        '200':
          $ref: './components.yaml#/components/responses/ArtifactURL'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/ExecutionID'
      - $ref: './components.yaml#/components/parameters/ArtifactID'
      - $ref: './components.yaml#/components/parameters/OptionalTestName'
      - $ref: './components.yaml#/components/parameters/FilterTestsuiteName'
