openapi: 3.0.1
info:
  title: Testkube API Docs
  description: >-
    See the <a href='/openapi/overview'>Overview</a> for more information and
    the link to OpenAPI spec.
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud Control Plane API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}:
    delete:
      summary: Delete test workflow
      description: Deletes test workflow executions
      operationId: deleteTestWorkflowExecutions
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}/credentials:
    get:
      summary: List credentials for the test workflow
      description: >-
        List credentials for the specified test workflow. Use filter=all to
        include organization and environment credentials that are not overridden
        by workflow-level credentials.
      operationId: listWorkflowCredentials
      parameters:
        - name: filter
          in: query
          description: >-
            Optional filter to include organization and environment credentials.
            Use 'all' to merge org, env, and workflow credentials, with workflow
            overriding env and org, and env overriding org for credentials with
            the same name.
          schema:
            type: string
            enum:
              - all
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    post:
      summary: Create a new credential for the test workflow
      description: Create a new credential for the specified test workflow.
      operationId: createWorkflowCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The identifier for the credential.
                  type: string
                type:
                  description: >-
                    The type of credential (secret, variable, or vault).
                    Defaults to secret if not specified.
                  type: string
                  enum:
                    - secret
                    - variable
                    - vault
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
              required:
                - name
                - base64
        required: true
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
        '409':
          $ref: './components.yaml#/components/responses/Conflict'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}/credentials/{credentialName}:
    get:
      summary: Get credential for the test workflow
      description: >-
        Get credential details. Variables will include their decrypted value,
        secrets will not.
      operationId: getWorkflowCredential
      responses:
        '200':
          $ref: './components.yaml#/components/responses/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    delete:
      summary: Delete credential for the test workflow
      description: Delete credential for the specified test workflow.
      operationId: deleteWorkflowCredential
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    patch:
      summary: Update value of the credential for the test workflow
      description: Update value of the credential for the specified test workflow.
      operationId: updateWorkflowCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
              required:
                - base64
        required: true
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
      - $ref: './components.yaml#/components/parameters/CredentialName'
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}/execution-groups:
    get:
      summary: List Test Workflow executions
      description: List Test Workflow executions
      operationId: listExecutionGroupsForTestWorkflowV2
      parameters:
        - $ref: './components.yaml#/components/parameters/Limit'
        - $ref: './components.yaml#/components/parameters/Offset'
        - $ref: './components.yaml#/components/parameters/Page'
        - $ref: './components.yaml#/components/parameters/PageSize'
        - $ref: './components.yaml#/components/parameters/TextSearch'
        - $ref: './components.yaml#/components/parameters/Status'
        - $ref: './components.yaml#/components/parameters/LastDays'
      responses:
        '200':
          $ref: './components.yaml#/components/responses/ExecutionGroupListV2'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}/execution-groups/{executionGroupID}:
    get:
      summary: Get Test Workflow execution group by test workflow name
      description: Get Test Workflow execution group by test workflow name
      operationId: getExecutionGroupForTestWorkflowV2
      responses:
        '200':
          description: Successfully retrieved execution group for test workflow
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ExecutionGroupV2'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
      - $ref: './components.yaml#/components/parameters/ExecutionGroupID'
  /organizations/{id}/environments/{environmentID}/test-workflows/definitions:
    get:
      summary: Get workflow definitions in bulk
      description: Returns a map of workflow name to YAML definition for MCP query tools
      operationId: getTestWorkflowDefinitionsBulk
      parameters:
        - name: selector
          in: query
          description: Label selector to filter workflows
          schema:
            type: string
        - name: resourceGroup
          in: query
          description: Resource group to filter workflows
          schema:
            type: string
        - name: pageSize
          in: query
          description: Maximum number of workflows to return (default 50, max 100)
          schema:
            type: integer
            maximum: 100
            default: 50
      responses:
        '200':
          description: Map of workflow name to YAML definition
          content:
            application/json:
              schema:
                description: Map where key is workflow name and value is YAML definition
                type: object
                additionalProperties:
                  type: string
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '500':
          $ref: './components.yaml#/components/responses/InternalServerError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
