openapi: 3.0.1
info:
  title: Testkube API Docs
  description: >-
    See the <a href='/openapi/overview'>Overview</a> for more information and
    the link to OpenAPI spec.
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud Control Plane API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/environments/{environmentID}/credentials:
    get:
      summary: List credentials in the environment
      description: >-
        List credentials in the environment. Use filter=all to include
        organization-level credentials that are not overridden by
        environment-level credentials.
      operationId: listEnvironmentCredentials
      parameters:
        - name: filter
          in: query
          description: >-
            Optional filter to include organization-level credentials. Use 'all'
            to merge org and env credentials, excluding org credentials that are
            overridden by env credentials with the same name.
          schema:
            type: string
            enum:
              - all
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    post:
      summary: Create a new credential in the environment
      description: Create a new credential in the environment.
      operationId: createEnvironmentCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The identifier for the credential.
                  type: string
                type:
                  description: >-
                    The type of credential (secret, variable, or vault).
                    Defaults to secret if not specified.
                  type: string
                  enum:
                    - secret
                    - variable
                    - vault
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
              required:
                - name
                - base64
        required: true
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
        '409':
          $ref: './components.yaml#/components/responses/Conflict'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
  /organizations/{id}/environments/{environmentID}/credentials/{credentialName}:
    get:
      summary: Get credential in the environment
      description: >-
        Get credential details. Variables will include their decrypted value,
        secrets will not.
      operationId: getEnvironmentCredential
      responses:
        '200':
          $ref: './components.yaml#/components/responses/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    delete:
      summary: Delete credential in the environment
      description: Delete credential in the environment.
      operationId: deleteEnvironmentCredential
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    patch:
      summary: Update value of the credential in the environment
      description: Update value of the credential in the environment.
      operationId: updateEnvironmentCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
              required:
                - base64
        required: true
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/CredentialName'
