openapi: 3.0.1
info:
  title: Testkube API Docs
  description: >-
    See the <a href='/openapi/overview'>Overview</a> for more information and
    the link to OpenAPI spec.
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud Control Plane API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/environments/{environmentID}/views:
    get:
      summary: List views
      description: List all views for an environment
      operationId: listViews
      parameters:
        - $ref: './components.yaml#/components/parameters/ID'
        - $ref: './components.yaml#/components/parameters/EnvironmentID'
        - name: entity
          in: query
          description: >-
            Filter views by entity type. When specified, only returns views
            associated with the given entity type (e.g., test-workflows or
            executions). If omitted, returns all views regardless of entity
            type.
          schema:
            $ref: './components.yaml#/components/schemas/ViewEntity'
      responses:
        '200':
          $ref: './components.yaml#/components/responses/Views'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    post:
      summary: Create view
      description: Create a new view
      operationId: createView
      parameters:
        - $ref: './components.yaml#/components/parameters/ID'
        - $ref: './components.yaml#/components/parameters/EnvironmentID'
        - name: isPrivate
          in: query
          description: >-
            Whether the view should be private (true) or shared (false). Private
            views are only visible to the user who created them, while shared
            views are visible to all users in the environment.
          schema:
            type: boolean
            default: true
      requestBody:
        $ref: './components.yaml#/components/requestBodies/View'
      responses:
        '200':
          $ref: './components.yaml#/components/responses/View'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
  /organizations/{id}/environments/{environmentID}/views/{viewID}:
    delete:
      summary: Delete view
      description: Delete a view
      operationId: deleteView
      parameters:
        - $ref: './components.yaml#/components/parameters/ID'
        - $ref: './components.yaml#/components/parameters/EnvironmentID'
        - name: viewID
          in: path
          description: View ID
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
