openapi: 3.0.1
info:
  title: Testkube Pro API
  description: API for Testkube Pro
  contact:
    email: testkube@kubeshop.io
  license:
    name: COMMERICAL
    url: https://opensource.org/licenses/MIT
  version: cloud-api/1.10.51
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/environments/{environmentID}/logs-search-keywords:
    get:
      summary: Get Testkube Pro logs search keywords for execution
      description: Get Logs search keywords separately from execution
      operationId: getExecutionLogsSearchKeywords
      responses:
        '200':
          $ref: './components.yaml#/components/responses/LogsSearchKeywords'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    patch:
      summary: Update execution logs search keywords
      description: Update execution logs search keywords
      operationId: updateExecutionLogsSearchKeywords
      requestBody:
        $ref: './components.yaml#/components/requestBodies/LogsSearchKeywords'
      responses:
        '200':
          $ref: './components.yaml#/components/responses/LogsSearchKeywords'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
