openapi: 3.0.1
info:
  title: Testkube API Docs
  description: >-
    See the <a href='/openapi/overview'>Overview</a> for more information and
    the link to OpenAPI spec.
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud Control Plane API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}:
    delete:
      summary: Delete test workflow
      description: Deletes test workflow executions
      operationId: deleteTestWorkflowExecutions
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}/execution-groups:
    get:
      summary: List Test Workflow executions
      description: List Test Workflow executions
      operationId: listExecutionGroupsForTestWorkflowV2
      parameters:
        - $ref: './components.yaml#/components/parameters/Limit'
        - $ref: './components.yaml#/components/parameters/Offset'
        - $ref: './components.yaml#/components/parameters/Page'
        - $ref: './components.yaml#/components/parameters/PageSize'
        - $ref: './components.yaml#/components/parameters/TextSearch'
        - $ref: './components.yaml#/components/parameters/Status'
        - $ref: './components.yaml#/components/parameters/LastDays'
      responses:
        '200':
          $ref: './components.yaml#/components/responses/ExecutionGroupListV2'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
  /organizations/{id}/environments/{environmentID}/test-workflows/{testWorkflowName}/execution-groups/{executionGroupID}:
    get:
      summary: Get Test Workflow execution group by test workflow name
      description: Get Test Workflow execution group by test workflow name
      operationId: getExecutionGroupForTestWorkflowV2
      responses:
        '200':
          description: Successfully retrieved execution group for test workflow
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ExecutionGroupV2'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentID'
      - $ref: './components.yaml#/components/parameters/TestWorkflowName'
      - $ref: './components.yaml#/components/parameters/ExecutionGroupID'
