openapi: 3.0.1
info:
  title: Testkube Pro API
  description: API for Testkube Pro
  contact:
    email: testkube@kubeshop.io
  license:
    name: COMMERICAL
    url: https://opensource.org/licenses/MIT
  version: enterprise-api/1.10.7
paths:
  /organizations/{id}/environments-versions:
    get:
      summary: Get organization environments versions
      description: versions for all envs
      operationId: getOrganizationEnvironmentsVersions
      responses:
        '200':
          $ref: './components.yaml#/components/responses/OrganizationEnvironmentsVersions'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
