openapi: 3.0.1
info:
  title: Testkube Pro API
  description: API for Testkube Pro
  contact:
    email: testkube@kubeshop.io
  license:
    name: COMMERICAL
    url: https://opensource.org/licenses/MIT
  version: 1.16.0-de.53
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/credentials:
    get:
      summary: List credentials used in the organization
      description: List credentials used in the organization.
      operationId: listCredentials
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Credential'
                required:
                  - items
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    post:
      summary: Create a new credential in the organization
      description: Create a new credential in the organization.
      operationId: createCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The identifier for the credential.
                  type: string
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
                environmentId:
                  description: Environment ID where the credential is restricted to.
                  type: string
                workflowName:
                  description: Workflow Name where the credential is restricted to.
                  type: string
              required:
                - name
                - base64
        required: true
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
        '409':
          $ref: './components.yaml#/components/responses/Conflict'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/EnvironmentIDQP'
  /organizations/{id}/credentials/{credentialName}:
    delete:
      summary: Delete credential in the organization
      description: Delete credential in the organization.
      operationId: deleteCredential
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    patch:
      summary: Update value of the credential in the organization
      description: Update value of the credential in the organization.
      operationId: updateCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
              required:
                - base64
        required: true
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/CredentialName'
