openapi: 3.0.1
info:
  title: Testkube API Docs
  description: >-
    See the <a href='/openapi/overview'>Overview</a> for more information and
    the link to OpenAPI spec.
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud Control Plane API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/groups:
    get:
      summary: List organization groups
      description: Lists the projects in an organization.
      operationId: listResourceGroups
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/ResourceGroup'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    post:
      summary: Create a resource group
      description: Creates a resource group.
      operationId: createResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Display name of the resource group
                  type: string
                slug:
                  description: Human- and URL friendly identifier.
                  type: string
                description:
                  description: Description of the resource group
                  type: string
              required:
                - name
        required: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ResourceGroup'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
  /organizations/{id}/groups/{groupID}:
    get:
      summary: Get a resource group
      description: Get a resource group by its `id`.
      operationId: getResourceGroup
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ResourceGroup'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    delete:
      summary: Delete a resource group
      description: Deletes a resource group.
      operationId: deleteResourceGroup
      responses:
        '204':
          description: Delete Success
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    patch:
      summary: Update a resource group
      description: Updates a resource groups information.
      operationId: updateResourceGroup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the resource group
                  type: string
                description:
                  description: Description of the resource group
                  type: string
        required: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/ResourceGroup'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/GroupID'
  /organizations/{id}/groups/{groupID}/collaborators:
    get:
      summary: Lists all collaborators for this resource group
      description: Lists all collaborators for this resource group.
      operationId: listResourceGroupCollaborators
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Collaborator'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    post:
      summary: Adds all collaborators to this resource group
      description: Adds all collaborators to this resource group.
      operationId: addManyResourceGroupCollaborators
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                collaborators:
                  description: The collaborators to add to this resource group.
                  type: array
                  items:
                    type: string
                role:
                  description: The role to assign to all collaborators.
                  type: string
              required:
                - collaborators
                - role
        required: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  collaborators:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Collaborator'
                  failed:
                    type: array
                    items:
                      type: string
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
        '429':
          $ref: './components.yaml#/components/responses/TooManyRequests'
      security:
        - BearerAuth: []
    delete:
      summary: Remove many members from this group
      description: Remove many members from this access group.
      operationId: removeManyResourceGroupCollaborators
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                collaborators:
                  description: The collaborators to remove from this group.
                  type: array
                  items:
                    type: string
              required:
                - collaborators
        required: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  failed:
                    type: array
                    items:
                      type: string
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/GroupID'
  /organizations/{id}/groups/{groupID}/credentials:
    get:
      summary: List credentials in the resource group
      description: >-
        List credentials in the resource group. Use filter=all to include
        organization-level credentials that are not overridden by
        resource-group-level credentials.
      operationId: listResourceGroupCredentials
      parameters:
        - name: filter
          in: query
          description: >-
            Optional filter to include organization-level credentials. Use 'all'
            to merge org and resource group credentials, excluding org
            credentials that are overridden by resource group credentials with
            the same name.
          schema:
            type: string
            enum:
              - all
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: './components.yaml#/components/schemas/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    post:
      summary: Create a new credential in the resource group
      description: Create a new credential in the resource group.
      operationId: createResourceGroupCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The identifier for the credential.
                  type: string
                type:
                  description: >-
                    The type of credential (secret, variable, vault, or
                    vault_ref). Defaults to secret if not specified.
                  type: string
                  enum:
                    - secret
                    - variable
                    - vault
                    - vault_ref
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
                source:
                  description: The source that created this credential (e.g. 'ai-agent').
                  type: string
                  maxLength: 50
              required:
                - name
        required: true
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Credential'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
        '409':
          $ref: './components.yaml#/components/responses/Conflict'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/GroupID'
  /organizations/{id}/groups/{groupID}/credentials/{credentialName}:
    get:
      summary: Get credential in the resource group
      description: >-
        Get credential details. Variables will include their decrypted value,
        secrets will not.
      operationId: getResourceGroupCredential
      responses:
        '200':
          $ref: './components.yaml#/components/responses/Credential'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    delete:
      summary: Delete credential in the resource group
      description: Delete credential in the resource group.
      operationId: deleteResourceGroupCredential
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    patch:
      summary: Update value of the credential in the resource group
      description: Update value of the credential in the resource group.
      operationId: updateResourceGroupCredential
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                base64:
                  description: Base64-encoded value for the credential.
                  type: string
              required:
                - base64
        required: true
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/GroupID'
      - $ref: './components.yaml#/components/parameters/CredentialName'
