openapi: 3.0.1
info:
  title: Testkube API Docs
  description: >-
    See the <a href='/openapi/overview'>Overview</a> for more information and
    the link to OpenAPI spec.
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud Control Plane API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/boards:
    get:
      summary: List board summaries
      description: Lists the summaries of the boards in your organization.
      operationId: listBoards
      parameters:
        - name: name
          in: query
          description: Filter boards by name (case-insensitive substring match)
          schema:
            type: string
        - name: private
          in: query
          description: Return only private boards owned by the current user.
          schema:
            type: boolean
        - name: shared
          in: query
          description: Return only shared organization boards.
          schema:
            type: boolean
        - name: userFavorite
          in: query
          description: Return only boards favorited by the current user.
          schema:
            type: boolean
        - name: orgFavorite
          in: query
          description: Return only boards favorited at the organization level.
          schema:
            type: boolean
        - $ref: './components.yaml#/components/parameters/Page'
        - $ref: './components.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Response
          headers:
            Link:
              $ref: './components.yaml#/components/headers/link'
            Total-Count:
              $ref: './components.yaml#/components/headers/total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/BoardSummary'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    post:
      summary: Create a board
      description: Creates a board.
      operationId: createBoard
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The display name of the new board
                  type: string
                slug:
                  description: The slug of the new board
                  type: string
                description:
                  description: The description of the new board
                  type: string
                isPrivate:
                  description: When true, the board is only visible to the creator.
                  type: boolean
                  default: false
              required:
                - name
        required: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Board'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
  /organizations/{id}/boards/{boardID}:
    get:
      summary: Get a board
      description: Get a board by its `id` or `slug`.
      operationId: getBoard
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Board'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    delete:
      summary: Delete a board
      description: Deletes a board.
      operationId: deleteBoard
      responses:
        '204':
          description: Delete Success
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    patch:
      summary: Update a board
      description: Updates a board's details, content or layout.
      operationId: updateBoard
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The new display name of this board.
                  type: string
                description:
                  description: The new description of this board.
                  type: string
                slug:
                  description: The new slug of this board.
                  type: string
                isPrivate:
                  description: >-
                    When set, toggles whether the board is private to the
                    current user or shared with the organization.
                  type: boolean
                layout: {}
                content:
                  description: A patch for the content of this board.
                  type: object
                  properties:
                    action:
                      type: string
                      enum:
                        - create
                        - update
                        - delete
                    content_kind:
                      type: string
                    content_id:
                      type: string
                    content_data: {}
                  required:
                    - action
                    - content_kind
        required: true
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Board'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
      - $ref: './components.yaml#/components/parameters/BoardID'
  /organizations/{id}/boards/shared-order:
    patch:
      summary: Reorder shared boards
      description: >-
        Sets the sidebar navigation order for shared organization boards.
        Requires organization admin.
      operationId: reorderSharedBoards
      requestBody:
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/ReorderSharedBoardsReq'
        required: true
      responses:
        '204':
          $ref: './components.yaml#/components/responses/NoContent'
        '400':
          $ref: './components.yaml#/components/responses/BadRequestError'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
      security:
        - BearerAuth: []
    parameters:
      - $ref: './components.yaml#/components/parameters/ID'
