openapi: 3.0.1
info:
  title: Testkube API Docs
  description: >-
    See the <a href='/openapi/overview'>Overview</a> for more information and
    the link to OpenAPI spec.
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud Control Plane API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /organizations/{id}/events:
    get:
      summary: Retrieve a list of Testkube Events
      description: Get events related to the scheduler and executions.
      operationId: listEvents
      parameters:
        - $ref: './components.yaml#/components/parameters/ID'
        - $ref: './components.yaml#/components/parameters/Since'
        - $ref: './components.yaml#/components/parameters/Until'
        - $ref: './components.yaml#/components/parameters/Period'
        - $ref: './components.yaml#/components/parameters/Page'
        - $ref: './components.yaml#/components/parameters/PageSize'
        - name: series
          in: query
          description: Whether to group isomorphic events or keep a flat list of events.
          schema:
            type: boolean
      responses:
        '200':
          description: Testkube event
          headers:
            Link:
              $ref: './components.yaml#/components/headers/link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/TestkubeEvent'
        '401':
          $ref: './components.yaml#/components/responses/UnauthorizedError'
        '403':
          $ref: './components.yaml#/components/responses/ForbiddenError'
        '404':
          $ref: './components.yaml#/components/responses/NotFoundError'
      security:
        - BearerAuth: []
