openapi: 3.0.1
info:
  title: Testkube API
  description: >-
    Testkube provides a Kubernetes-native framework for test definition,
    execution and results
  contact:
    email: contact@testkube.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /config:
    patch:
      summary: Update config
      description: Updates config in cluster storage state
      operationId: updateConfigKey
      requestBody:
        description: config request body data
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/Config'
      responses:
        '200':
          description: update successful
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Config'
        '400':
          description: problem with input
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '404':
          description: config not found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '500':
          description: problem with updating key in cluster storage
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
    get:
      summary: Get config
      description: Get config from cluster storage state
      operationId: getConfig
      responses:
        '200':
          description: get successful
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Config'
        '404':
          description: config not found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '500':
          description: problem with getting config from cluster storage
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
