openapi: 3.0.1
info:
  title: Testkube API
  description: >-
    Testkube provides a Kubernetes-native framework for test definition,
    execution and results
  contact:
    email: testkube@kubeshop.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
servers:
  - url: https://api.testkube.io
    description: Testkube Cloud API Endpoint
  - url: https://<your-testkube-api-host>
    description: Testkube On-Prem API Endpoint
paths:
  /secrets:
    get:
      parameters:
        - $ref: './components.yaml#/components/parameters/All'
        - $ref: './components.yaml#/components/parameters/Namespace'
      summary: List secrets
      description: List secrets available in cluster
      operationId: listSecrets
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Secret'
        '403':
          description: secret management is disabled
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '502':
          description: problem with communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
    post:
      summary: Create secret
      description: Create secret in the cluster
      operationId: createSecret
      requestBody:
        description: secret data
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/SecretInput'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Secret'
        '400':
          description: invalid input data
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '403':
          description: secret management or modification are disabled
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '502':
          description: problem with communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
  /secrets/{id}:
    delete:
      parameters:
        - $ref: './components.yaml#/components/parameters/Namespace'
        - $ref: './components.yaml#/components/parameters/ID'
      summary: Delete secret
      description: Delete secret in the cluster
      operationId: deleteSecret
      responses:
        '204':
          description: successful operation
        '400':
          description: invalid input data
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '403':
          description: >-
            secret is not controlled by Testkube or secret management or
            modification are disabled
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '404':
          description: secret has not been found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '502':
          description: problem with communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
    patch:
      parameters:
        - $ref: './components.yaml#/components/parameters/ID'
      summary: Update secret
      description: Update secret in the cluster
      operationId: updateSecret
      requestBody:
        description: secret data
        required: true
        content:
          application/json:
            schema:
              $ref: './components.yaml#/components/schemas/SecretUpdate'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Secret'
        '400':
          description: invalid input data
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '403':
          description: >-
            secret is not controlled by Testkube or secret management or
            modification are disabled
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '404':
          description: secret not found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '502':
          description: problem with communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
    get:
      parameters:
        - $ref: './components.yaml#/components/parameters/ID'
      summary: Get secret
      description: Get secret in the cluster
      operationId: getSecret
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: './components.yaml#/components/schemas/Secret'
        '400':
          description: invalid input data
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '403':
          description: >-
            secret is not controlled by Testkube or secret management is
            disabled
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '404':
          description: secret not found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
        '502':
          description: problem with communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: './components.yaml#/components/schemas/Problem'
